# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Builds
dist/
build/
.tsbuildinfo

# Environments
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Database containers
mysql_data/

# Local package builds
packages/*/dist/
packages/*/build/
packages/*/node_modules/
packages/*/.tsbuildinfo

